.table-panel{
    -fx-background-image: url('/Pictures/misc/base_pagina2.jpg');
    -fx-background-size: cover;
}
.info-player-panel{
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 10px;
        -fx-border-radius: 10px;
}
.login-panel{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -font-family: Comic Sans MS;
}

.round-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-padding: 5;
}
.round-button:hover {
    -fx-background-color: #CCCCCC;
}

.arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.popup{
    -fx-background-image: url('/Pictures/buttons/background.jpg');
    -fx-background-size: cover;
}

.alert-info{
    -fx-background-color: rgba(37, 150, 190, 0.7);

}
.alert-label{
    -font-family: Comic Sans MS;
    -font-size: 16px;
}

.alert-warning{
    -fx-background-color: rgba(218, 165, 59, 0.7);
}

.alert-error{
    -fx-background-color: rgba(255, 255, 255, 1);
}
.token-CG{
    -fx-width: 45px;
    -fx-height: 45px;
    -fx-translate-x: 85px;
    -fx-translate-y: 22px;
    -fx-rotate: -8deg;
}
.board-tiles{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

centeredPanel>.board-anchor{
    -fx-pref-width: 90%;
    -fx-pref-height: 90%;
    /*-fx-layout-x: 20%;
    -fx-layout-y: 30%;*/
}

centeredPanel>.other-anchor{
    -fx-pref-width: 90%;
    -fx-pref-height: 90%;
    /*-fx-layout-x: 20%;
    -fx-layout-y: 30%;*/
}
centeredPanel>.player-anchor{
    -fx-pref-width: 90%;
    -fx-pref-height: 90%;
    /*-fx-layout-x: 20%;
    -fx-layout-y: 30%;*/
}

#centeredPanel > * {
    display: inline-block;
    -fx-alignment: center;
}

.label-style {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #FF0000; /* Red color */
}